@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background-image: linear-gradient(135deg, #3813c2 10%, #ff6fd8 100%);
  color: #000000;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
