.regField {
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 15px;
  font-size: 15px;
  margin: 10px 0 0 0;
}

.submitBtn {
  width: 100%;
  padding: 15px;
  border: 0;
  cursor: pointer;
  margin: 10px 0;
  font-size: 15px;
  border-radius: 5px;
}
.submitBtn:hover {
  background-color: #0e0e0e;
  color: #f7f7f7;
}

.underLine {
  text-align: center;
  display: block;
}

.linkBtn {
  border: 0;
  text-decoration: underline;
  background-color: unset;
  color: #3c4043;
  cursor: pointer;
  padding: 5px;
  margin: 0;
}
